@font-face{
    font-family: google;
    src: url(./fonts/Sans.ttf);
}
.navbar {
    background: teal;
    overflow: hidden;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 7;
    box-shadow: 0px 5px 5px rgb(223, 222, 222);
    font-family: Google;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: rgb(2, 94, 94);

}

.nav-right {
    float: right;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}
.newItem{
    margin-top: 100px;
    border: none;
    margin-left: 5%;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background: rgb(213, 233, 247);
    border-radius: 5px;
    outline: none;
}
.newItem:hover{
    background: rgb(182, 221, 248);
    transform: scale(1.1);
}
.itemContainer {
    background: rgb(216, 253, 230);
    padding: 20px;
    width: 60%;
    margin-left: 5%;
    margin-top: 40px;
    height: auto;
    border-radius: 5px;
}
.itemContainer:hover{
    transform: scale(1.01);
}
.itemTitle{
    font-size: 2rem;
    font-family: google;
}