@font-face {
    font-family: krishak;
    src: url(./css/fonts/SAMAN___.TTF);
}

@font-face {
    font-family: Google;
    src: url(./css/fonts/Sans.ttf);
}

body {
    background: url(./images/background.png);
}

.navbar {
    background: teal;
    overflow: hidden;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 7;
    box-shadow: 0px 5px 5px rgb(71, 71, 71);
    font-family: Google;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: rgb(2, 94, 94);

}

.nav-right {
    float: right;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

/* .imageCarousel {
    position: relative;
    margin-top: 70px;
    height: 350px;
}

.mainImageCarousel {
    position: absolute;
    top: 0%;
    z-index: 3;
    width: 40%;
    height: 100%;
    left: 30%;
}

.leftImageCarousel {
    position: absolute;
    top: 2.5%;
    z-index: -1;
    width: 20%;
    height: 90%;
    left: 25%;
    opacity: 0.8;
}

.rightImageCarousel {
    position: absolute;
    top: 2.5%;
    z-index: -1;
    width: 30%;
    height: 90%;
    left: 45%;
    opacity: 0.8;
} */

.mainImage {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}

.title {
    position: absolute;
    width: 100%;
    margin-top: 30%;
    text-align: center;
    font-size: 550%;
    font-family: krishak;
    background: white;
    left: -200%;
}

.titleText {
    opacity: 0;
    color: white;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.farmerImage{
    position: absolute;
    top: -100%;
    z-index: 2;
    width: 200px;
    height: 200px;
    left: 45%;
}
.farmerImage:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}
.continueButton{
    position: absolute;
    bottom: 10%;
    left: 43%;  
    font-size: 2rem;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: 2px solid black;
    background: #7a797965;
    opacity: 0;
}
.continueButton:hover{
    background: #7a7979cb;
    transform: scale(1.01);
}
.mainContent {
    position: absolute;
    top: 100%;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
.pages{
    position: absolute;
    margin-top: 30px;
}
.pageContainer{
    padding: 20px;
    width: 60%;
    margin-left: 20%;
    background: rgb(210, 210, 248);
    margin-bottom: 20px;
}
.pageContainer:hover{
    background: rgb(194, 194, 243);
}
.pagesButton{
    border:none;
    padding: 20px;
    background: rgb(210, 210, 248);
    color: white;
}
.pagesButton:hover {
    transform:scale(1.01) ;
    background: rgb(90, 119, 247);
    color: white;
}