.navbar
{
	background: #f15025;
	z-index: 90;
	float: left;
	width: 100%;
}

body
{
	padding: 0;
	margin: 0;
}
.nav-link, .navbar-brand
{
	color: #1f2833;
	padding: 15px;
}

.nav-link{ margin-right: 1em !important;}
.nav-link:hover, .navbar-brand:hover{ background: #1f2833; color: #f97916;}
.navbar-collapse{ justify-content: flex-end; }
.navbar-toggler{  background:#fff !important;}

.header
{
	position: relative;
	background-image: url('../images/styx-home1.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.overlay
{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	top: 0;
	left: 0;
	background: #0b0c10;
	opacity: 0.85;
}

.description
{
	position: absolute;
	top: 30%;
	margin: auto;
	padding: 2em;
}

.description h1
{
	/*position: relative;*/
	/*position: absolute;*/
	color: #f97916;
	font-size: 72px;
	/*left: 35%;*/
	text-align: center;
	font-weight: bold;
	font-style: oblique;
}

.description h2
{
	/*position: relative;*/
	color: #3c6e71;
	font-size: 36px;
	/*left: 35%;*/
	text-align: center;
	font-weight: bold;
	/*font-style: oblique;*/
}

.description p{
 color:#666;
 margin: auto auto;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}

.description button{
	position: relative;
	top: 30px;
	left: 80%;
	border:1px  solid #F97300;
	background:#F97300;
	color:#000;
}

.description button:hover{
	position: relative;
	top: 30px;
	left: 80%;
	border:1px  solid #F97300;
	background:#f15025;
	color:#1f2833;
}

.rest
{
	display: none;
}